.allocated-budget-card {
    background: linear-gradient(135deg, #C60202 0%, #930000 100%) !important;
}


td, th {
    color: var(--black-text) !important;
}

#user-search-input:focus {
    border-color: #C62742 !important;
    box-shadow: 0 0 0 0.25rem rgba(198, 0, 0, 0.25) !important;
    outline: none !important;
}

.user-list-table td {
    border-bottom: none !important;
}