.main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.row {
    width: 100%;
    height: 100%;
    margin: 0;
}

.col-6 {
    width: 50vw !important;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover {
    background-color: var(--red-2);
    width: 50vw;
    height: 100vh;
}

.col-5 {
    width: 50vw !important;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-5 .mt-5,
.col-5 .p-4,
.col-5 form {
    width: 100%;
    max-width: 700px;
}

.col-5 form {
    width: 100%;
    max-width: 700px;
}

.black-text-h5 {
    margin-bottom: 40px;
}