body.dark .widget-content-area {
  box-shadow: none;
  background-color: #15181D;
}
body.dark .no-content:before, body.dark .no-content:after {
}
body.dark .dataTables_wrapper {
}
body.dark .dt--top-section {
}
body.dark .dt--bottom-section {
}
body.dark .table-form {
}
body.dark .table-form .form-group {
}
body.dark .table-form .form-group label {
  color: #A1A1AA;
}
body.dark .table-form .form-group input {
}
body.dark table.dt-table-hover tbody tr:hover {
  background: rgba(185, 28, 28, 0.05); /* Very subtle red hover */
}
body.dark table.dataTable thead .sorting:before, body.dark table.dataTable thead .sorting_asc:before, body.dark table.dataTable thead .sorting_desc:before, body.dark table.dataTable thead .sorting_asc_disabled:before, body.dark table.dataTable thead .sorting_desc_disabled:before {
  color: #6B7280;
}
body.dark table.dataTable thead .sorting:after, body.dark table.dataTable thead .sorting_asc:after, body.dark table.dataTable thead .sorting_asc_disabled:after, body.dark table.dataTable thead .sorting_desc:after, body.dark table.dataTable thead .sorting_desc_disabled:after {
}
body.dark table.dataTable thead .sorting_asc:before, body.dark table.dataTable thead .sorting_desc:after {
  color: #B91C1C;
}
body.dark table.dataTable > thead > tr, body.dark table.dataTable > tfoot > tr {
}
body.dark .page-item .page-link:hover {
  background: #1D2127;
  color: #F3F4F6;
}
body.dark table.dataTable {
  background: transparent;
}
body.dark .table > tbody tr {
}
body.dark .table.table-hover tbody tr {
  background-color: transparent;
}
body.dark .table > thead > tr > th {
  background: #1D2127;
  color: #F3F4F6;
}
body.dark .table > tbody > tr > td {
  color: #A1A1AA;
}
body.dark .table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
body.dark .dataTable.table-striped tbody tr:nth-of-type(odd) td {
  --bs-table-accent-bg:transparent;
  background-color: rgba(255, 255, 255, 0.02) !important;
  color: #F3F4F6;
}
body.dark div.dataTables_wrapper div.dataTables_info {
  color: #A1A1AA;
}
body.dark div.dataTables_wrapper div.dataTables_filter svg {
  color: #A1A1AA;
}
body.dark .dataTables_wrapper .form-control {
  background: #15181D;
  color: #F3F4F6;
}
body.dark .page-link {
  background: #15181D;
  color: #A1A1AA;
}
body.dark .page-item.active .page-link {
  background-color: #B91C1C;
  border-color: #B91C1C;
  color: #fff;
}
body.dark .page-item.next:not(.disabled) .page-link, body.dark .page-item.previous:not(.disabled) .page-link {
  background: #1D2127;
}
body.dark .page-item.next:not(.disabled) .page-link svg, body.dark .page-item.previous:not(.disabled) .page-link svg {
  color: #fff;
}
